*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-section,
.footer{
    background-color: #1F2937;
    color: white;
}

.main-section{
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    
}
.header{
    display: flex;
    justify-content: space-between

}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
.pitch-wrap{
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.pitch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
}

.pitch h1{
    font-size: 48px;
    color: #F9FAF8;
}
.pitch p{
    flex-wrap: wrap;
}
.admire {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 10px;
    border-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
}

.header a,
.pitch p{
    color: #E5E7E8;
    font-size: 18px;
}

.cards-section{
    background-color: #F9FAF8;
    text-align: center;
}
.cards-section h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 60px 0;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    font-size: 18px;
    color: #1F2937;
    
}

.card img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.footer{
    flex-shrink: 0;
}
